@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    .Blogdesc {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
@model List<Blogs>
<div class="row m-5">
    <div class="col-2">
    </div>
    <div class="col-8">
        @foreach (var item in Model)
        {
            <div class="row mb-5">
                <div class="card">
                    <div class="card-body ">
                        <div class="profile-uoloaded-post border-bottom-1">
                            <img src="@configuration["BaseUrl"]@Url.Content(item.coverImage)" alt="" class="img-fluid w-100 rounded">
                            <a class="post-title" asp-action="Blog" asp-controller="Home" asp-route-id="@item.id" style="text-decoration:none;"><h3 class="text-black">@item.title</h3></a>
                            <p class="Blogdesc">
                                @item.description
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <cite>@item.user.name @item.user.surname</cite>
                        </small>
                        <p class="d-flex justify-content-end">@item.createDate.Value.ToString("dd MM yyyy")</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-2">
    </div>
</div>

<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (TempData["info"] != null)
{
    <script type="text/javascript" charset="utf-8">
    window.onload = function () {
        swal(`@Html.Raw(TempData["info"].ToString())`, {
                buttons: [false, `OK`],
                icon:'info'
                });
            }
    </script>
}